################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/fe/node_modules
/BP-BE/packages
/BP-BE/.vs